
body ul{
    list-style-type: none;
    padding: 0;
}
body{
    padding:0;
    font-size: 15px;
    margin: 0;
}
.menu-footer a:hover{
    text-decoration: none;
    color:#007F74;
    transition: 0.3s;
}
*{
    font-family: sans-serif;}
header{
    margin: auto;
    background-color: hsl(0, 0%, 98%);
}
.color{
    color:#007F74;
}
.top-header {
    padding-bottom: 6px;
    border: solid 0.5px #007F74;
    font-size: 12px;    padding-top: 6px;
}
.list-top-header{
    width:50%;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.clear::after {
    content: "";
    clear: both;
    display: table;
}
.top-header *{
    color: gray;
}
.top-header a:hover{
    color:#007F74;
}

.top-header a{
     margin-right: 8px;

}

.menu-top-header a:first-child{
    color: #007F74;
}

.right-top-header .phone img{
    width: 16px;
    margin-top: -3px;
}
.right-top-header div{
    margin-right: 8px;
}
.inline{
    display: inline-block;
    display: -webkit-inline-flex;
}
.option-test{
    margin-top: -2px;
}
.body-header{
    height:100px;
    padding-top: 20px;
    width:50%;
}
.m-p-0{
    margin:0;
    padding:0;
}
.m-auto{
    margin:auto
}
.notdeco a{
    text-decoration: none;
}
.notdeco a:hover{
    text-decoration: none;
}
.w-100{
    width:100%;
}
.bold{
    font-weight: bold;
}
.upcase{
    text-transform: uppercase;
}
.left-body-header{
    height: 100%;
}
.left-body-header a{
    height: 55px;
    width: 181px;
    display: block;
    background-position: -162px -330px;
    background-image: url("../img/all-img.png");}
.menu-header{
    width: 100%;
    letter-spacing: 0.3px;
    font-size: 11px;
    height: 43px;
    background-color:#007F74;text-align: center;
}
.menu-header ul:first-child
{
    height:100%;
}
.menu-header ul:first-child li{
    padding-top: 13px;
    padding-right:5px;
    border-right :0.1px solid #f2f2f2;
}
.menu-header ul li:not(:first-child):hover,.menu-header ul:first-child li:nth-child(2){
    background-color:#00998c;
    transition: 0.3s;
}
.menu-header .hidden li:hover{
    background-color:#00998c;
    transition: 0.3s;
}
.menu-header ul:first-child li:first-child{
    font-size: 20px;
    padding-top:8px;
    color:white
}
.menu-header ul:first-child li a{
    color: white;
    padding:7px;
    font-size: 10px;
}
.menu-header ul:first-child li a:hover{
    text-decoration: none;
}
.content-body{
    padding-top:50px;
    width:40%;
}
.hot-news1{
    width:58%;
    border: 0.7px white solid;
}
.hot-news1:hover,.hot-news2:hover{
    box-shadow: 0px 1px 1px #aaaaaa;
    transition:  1s;
}
.hot-news2{
    height: fit-content;
    width:27%;    margin-left: 15%;
    color: #737373;
    border: 0.5px #f2f2f2 solid;

}
.content-new-hot{
    color:#737373;
    font-size: 13px;
    padding: 0px 0 5px 5px;
}
.hot-news1 .title-news-hot{
    font-size: 26px;
    padding:10px 0 20px 5px;
    font-weight: bold;
}
.hot-news2 .title-news-hot{
    font-size: 17px;
    padding: 10px;
}
.hot-news2{
    background-color: hsl(0, 0%, 98%);}
.hot img{
    width: 100%;}
.small_news-item{
    width:33.3%;
    padding: 20px;
    font-size: 15px;
}
.link{
    text-decoration: none;
    color:unset;
}
.link:hover{
    text-decoration: none;
    color:#007F74;
    transition:0.3s;
}
.small_news {
    margin-top: 30px;
    padding-top:30px;
    background-color: hsl(0, 0%, 98%);
    border :2px solid #f2f2f2;
    border-radius: 5px;
}
.list{
    margin-top:20px;
    border-top:2px solid #007F74;
}
.list-hot h4{
    color: #007F74;
    position: relative;
    padding-left: 17px;
}
.list-hot h4::after{
    content: " ";
    position: absolute;
    top: -2px;
    left: -2px;
    height: 100%;
    width: 18px;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../img/all-img.png");
    background-position: -416px -273px;
}
.list-hot{
    padding:0;
    font-size: 15px;
    width:58.3%;
    background-color: hsl(0, 0%, 98%);
    border :2px solid #f2f2f2;
}
.list-hot ul li{
    display: inline-flex;    padding-top: 20px;
    border-top:2px solid #f2f2f2 ;
}
.list-hot img{
    float: left;
    margin-right: 10px;
    height: 50px;
    width: 70px;
}
.chart{
 padding-right: 0;
    width: 41.7%;

}
.weather select{
    width:130px;
    transition:0.3s;
    border:0;
    padding-top: 8px;
    background: transparent;
}
.border-section{
    background-color: hsl(0, 0%, 98%);
    border :2px solid #f2f2f2;
}
.weather .temp{
    display: inline-block;
    display: -webkit-inline-flex;
    padding-top:8px;
    font-size: 13px;    color:#737373;

}
.price,.stock{
    margin-top:  50px;
    text-align: center;
}
.chart table{
    width:100%;
    font-size: 15px;
}
.chart table td{
    padding:10px;
    position: relative;
}
.chart table td:first-child{
    color:#007F74;
}
.chart table td:not(:first-child)::after{
    content: '';
    height: 60%;
    top:20%;
    width: 1px;
    position: absolute;
    left: 0;
    background-color: #007F74;
}
.icon-fixed{
    width: 34px;
    height: 35px;
    position: fixed;
    left: 26%;
    top: 25%;
    /* display: block; */
    background-position: -154px 0px;
    background-image: url("../img/all-img.png");
    display: none;}
.icon-fixed:hover{
    transform: scale(1.1);
    transition:0.3s;
}
.new-news{
    padding-top: 20px;
    margin-top: 30px;
    border-top:2px solid #007F74;
}
.new-news ul li{ display: inline-block;
    display: -webkit-inline-flex;
    padding-bottom: 30px;
}
.new-news ul li  img{
    width:100%;
}


.title-new{
    font-size: 24px;
    font-weight: bold;
}
.title-new:after{
    content: "";
    width: 23px;
    height: 20px;
    display: block;
    background-position: -274px -104px;
    background-image: url("../img/all-img.png");
}
.content-new{
    width:60%;
    padding-right:20px;
    margin:0;
}
.content-new span a{
    font-size: 12px;
    color: #007F74;
    letter-spacing: 1.5px;
}
.content-new a:hover{
    color:#00b3a4;
    text-decoration: none;
}
.attention .news-attention{
    width:60%;
}
.news-attention h4{
    color:#007F74;
    position: relative;
    padding-left:20px;
}
.news-attention h4::after{
    content: " ";
    position: absolute;
    top: -1px;
    left: -2px;
    height: 100%;
    width: 18px;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../img/all-img.png");
    background-position: -416px -273px;
}
.attention .news-attention .item-news-attention{
    width: 34%;
    padding: 20px;
}
.attention{
    margin-top: 30px;
}
.attention .view-attention h3{color:#99ceff;}
.attention .view-attention{
    width:40%;
}

.quote-content {
    padding:20px;
    position: relative;
    margin-top: 38px;
    background-color: #E8F2F8;
    border:0.5px solid #b3daff;
}
.quote-content i:first-child{
    position: absolute;
    top:-3px;
    color:#b3daff;
}
.quote-content .info-per{
    font-size: 12px;
}
.quote-content .info-per div{
    color: #007F74;
    font-size: 10px
}
.quote-content i:nth-child(2){
    font-size: 14px;
}

.content-new-news{
    padding-top:20px;
    font-size: 15px;
}
.new-news ul li{
    position: relative;
}
.new-news ul li:after{
    content: " ";
    display: block;
    width: 35%;
    position: absolute;
    left: 50%;
    height: 1px;
    transform: translateX(-50%);
    background-color: #00ccbb;
    bottom: 13px;
}
.new-news-img{
    width:30%;
}
.quote-content img{
    position: absolute;
    right: 0.5px;
    bottom: 0.5px;
}
.content-big{padding:20px;}
.content-big span:first-child{
    font-size: 12px;
}
.directional{
    text-align: center;
    margin: 20px;
    color:#f2f2f2;
}
.big-news{
    padding-top:30px;
}
.time{
    color:#bfbfbf;
    font-size: 12px;
    font-weight: bold;
}
.directional button{
    cursor: pointer;
    font-size: 11px;
    padding: 9px 50px;
    margin: 10px;
    color: #666666;
    background-color: #f2f2f2;
    border: 1px solid #a6a6a6;
}
.directional button:hover{
    background-color: white;
    -webkit-transition: 0.5s ;
    -moz-transition: 0.5s ;
    -ms-transition: 0.5s ;
    -o-transition: 0.5s ;
    transition: 0.5s ;
}
.scrolling-wrapper-news {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    padding-top: 26px;
}
.title-new-wrap{
    width: 123px;
    height: 26px;
    position: absolute;
    /* left: 26%; */
    /* top: 25%; */
    /* display: block; */
    background-position: -311px -302px;
    background-image: url("../img/all-img.png");
}
.scrolling-wrapper-news::-webkit-scrollbar {
    width: 10px;
}

.scrolling-wrapper-news::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrolling-wrapper-news::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}
.card{ margin: 25px 25px 25px 0;}
.content-card{
    padding-top:5px;
    font-weight: bold;
    font-size: 12px;
}
.wrapper-news{
    position: relative;
}
.box-news-cate{width:44%;padding:3%;float:left}
.box-news-cate .news-item-cate{
    font-size: 12px;
    color:#808080;
}
.news-item-cate-1{
    font-size: 14px;
    font-weight: bold;
}
.news-item-cate-1, .news-item-cate{
    padding:9px 0 9px 0;
}
.small-box-news-cate{width:33.3%;float:left}
.small-box{
    width:30%;
}
.news-cates-small .box-news-cate span{
    font-size: 12px;
}
.news-cates-small .box-news-cate .news-item-cate-1 .title-news{
    font-size: 12px;
}
.news-cates-small .box-news-cate:after{
    width:82%;
}
.news-cates-small .box-news-cate .news-item-cate .title-news{
    font-size: 11px;
}
.video{text-align: center}
.logo-footer{
    display: block;
    width: 130px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/all-img.png);
    background-position: -344px -331px;
}
.header-footer{
    height:50px;
    border-bottom: 0.5px dotted #b3b3b3;
    padding: 20px 0 25px 0;
}
.header-footer button{
    height: 30px;
    cursor: pointer;
    font-size: 10px;
    margin: 7px 25px;
    background-color: #007F74;
    border: 0;
    border-radius: 999px;
    color: white;

}
.header-footer-right{
    padding: 10px 0px;
    position: relative;
}

.header-footer-right input{
    width:200px
}
.header-footer-right a{
    position: absolute;
    left: 187px;
    top: 12px;
    color:#8c8c8c;
}
.footer{
    width: 60%;
    margin-top: 50px;
    border-top: 1.5px solid #b3b3b3;
}
.menu-footer{
    text-align: center;
    border-bottom: 7px solid #007F74;
    padding-bottom: 10px;
}
.menu-footer a{
    color:#737373;
    padding:5px;
    font-size: 12px;
}
.contact-left,.contact-right{
    width:50%;
    padding:30px;color:#666666;
    font-size: 11px;
}
.contact-footer .contact-left a{
    display: block;
    width: 140px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url("../img/logo-f.png");
}
.news-item-cate,.news-item-cate-1{
    border-top:0.5px dotted  #bfbfbf;
}
.box-news-cate{
    position:relative;
}
.box-news-cate span{
    font-weight: bold;
}
.box-news-cate::after{
    content: " ";
    height: 1px;
    background-color: white;
    display: block;
    clear: both;
    top:0px;
    width:88%;
    border: solid #676767;
    border-width: 2px 0 1px 0 ;
    position: absolute;
}
.category-news{margin-top:30px;
}
.menu-icon a i{
    font-size: 33px;
    float: left;
    padding: 4px 0 0 7px;
    color: white;
    display:block;
}
.hidden li{   background-color:#007F74 ;
    padding: 24px;
    color:white;}
.hidden li a{   font-size: 12px;    width: 100%;color:white}
input.toggle:checked ~ .hidden{
    display:block;!important;
    position: fixed;
    top: 116px;
    height:100%;
    transition: 0.5s;
    overflow: hidden;
    width: 100%;
}
input.toggle{display: none}
.menu-icon{display: none}
.menu-icon label i{
    font-size: 41px;
}
.menu-icon label{
    position: absolute;
    cursor: pointer;
    z-index: 100;
    left: 5px;
    color: white;
}
@media only screen and (max-width: 414px) {
    .top-header{border:0;display:none
    }
    .body-header{
        width:100%;
        padding-top: 20px;
    }
    .left-body-header{
        float:unset;
        height:unset;
    }
    .left-body-header a{margin: auto;}
    .right-body-header{ display:none}
    .menu-header ul {display:none}
    .menu-icon{
        display:block;!important;
    }
   .menu-icon a{position: absolute;
    left: 0;
    z-index: 100;}
   .hot-news1,.hot-news2,.content-body{
       width:100%;
   }
   .inline{    display: inline-block;}
   .small_news-item{
       padding: 0 15% 0 15%;
       width: 70%;
   }
   .list-hot{width: 100%;}
   .chart{    margin: auto;
       width: 100%;}
   .new-news-img{
       width:80%;
   }
   .right-body-header{display:none}
   .content-new{    width: 100%;}
    .attention .news-attention,.attention .view-attention {
        width:100%;
    }
    .attention .view-attention h3{
        text-align: center;
    }
    .video iframe{
        width:100%;
        height:200px;
    }
    .menu-footer ,.contact-footer,.header-footer-right {
        display:none;
    }
    .logo-footer{
        margin: auto
    }
    .content-body{
        width:92%;
    }
    .big-news img{width:100%;}
    body{width: 100%;
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 768px)and (min-width: 415px){
    .list-top-header{
        width: 97%;
        font-size: 10px;
    }
    .body-header{
        width:100%;
    }
    .menu-header ul {display:none}
    .menu-icon{
        display:block;!important;
    }
    .menu-icon a{position: absolute;
        left: 0;
        z-index: 100;}
    .top-header{
        display:none;
    }

    .content-body{width:100%;}
    .hot-news2{
        width: 29%;
        margin-left: 6%;
    }
    .footer{width:100%;}
    body{
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 1024px)and (max-width: 1366px){
    .list-top-header,.body-header{
        width:97%;
    }
    .menu-header ul:first-child li a{
        font-size: 8px;
    }
    .menu-header{
        height: 50px;
    }
    .menu-header ul:first-child li:last-child{
        padding-right: 12px;
    }
    .menu-header ul:first-child li{
        padding-top: 19px;
        padding-right: 7px;
    }
    .menu-header ul:first-child{
        width: 100%;
    }
    .menu-header ul:first-child li a i {font-size: 15px;}
    .content-body{width: 90%;}
    .footer{
        width:90%;
    }
}
@media only screen and (max-width: 1023px)and (min-width: 769px){
    .list-top-header,.body-header{
        width:97%;
    }
    .menu-header ul {display:none}
    .menu-icon{
        display:block;!important;
    }
    .menu-icon a{position: absolute;
        left: 0;
        z-index: 100;}
    .content-body{width: 90%;}
    .footer{
        width:90%;
    }
}